.venv
modelo/.venv
data
planLector
__pycache__
modelo/toxic_model
cliPersist
.vite
node_modules
api
Voxpropia
finetuning/Llama3
finetuning/Llama3-finetuned
finetuning/Llama3-merged
finetuning/llama3.gguf