.venv
modelo/.venv
data
__pycache__
modelo/toxic_model
cliPersist
.vite
node_modules
api
finetuning/Llama3
finetuning/Llama3-finetuned
finetuning/Llama3-merged
finetuning/llama3.gguf
finetuning/aws
finetuning/awscliv2.zip
finetuning/qwen2.5.gguf
finetuning/qwen3b.gguf
