#root {
  border-inline: none;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 30px;
  border-radius: 14px;
}

.header {
  padding: 15px;
  margin-bottom: 20px;
  background: rgb(255, 255, 255);
  text-align: center;
}

.chat {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  max-width: 70%;
  padding: 10px 14px;
  border-radius: 12px;
  white-space: pre-wrap;
}

.user {
  background: rgb(65, 138, 38);
  align-self: flex-end;
  color: white;
}

.bot {
  background: rgb(90,192,53);
  align-self: flex-start;
  color: white;
}

.empty {
  opacity: 0.5;
  text-align: center;
  margin-top: 40px;
}

.input-bar {
  display: flex;
  padding: 10px;
  background: #111827;
  border-top: 1px solid #1f2937;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-right: 10px;
}

button {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  background: #22c55e;
  color: black;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}

/*
Chatbot css
*/

.wp-block-button.is-style-outline
	> .wp-block-button__link:not(.has-text-color, .has-background):hover {
	background-color: var(--wp--preset--color--contrast-2, var(--wp--preset--color--contrast, transparent));
	color: var(--wp--preset--color--base);
	border-color: var(--wp--preset--color--contrast-2, var(--wp--preset--color--contrast, currentColor));
}